$font-family: "Roboto", serif;

$gameboard-cell-size: 45px;
$gameboard-gap-size: 2px;

$main-bg-color: #0f1015;
$chat-bg-color: #0f1217;
$light-blue: #3d94b3;
$deep-blue: #4f86a9;
$yellow: #ffcc00;
$red: #e92a2a;
$black-on-yellow: #0f1116;
$grey: #595e62;